<div class="row" style="border-bottom: 1px solid #eee;">
	<div class="span4">
		<h2 title="She sells after a 10% increase, and a 3% loss. If nothing happens after a 14 days, she sells.">Fiona <small>Made £30 so far</small></h2>
		<h4><a href="http://www.google.co.uk/finance?q=LON%3AAFF" target="_blank">AFF.L</a></h4>
		<h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">AFFERRO MINING INC. COM AFFERRO MINING INC. COM</h5>
		<p class="lead">
			£1.52 <small class="text-success">+1.12%</small>
		</p>
		<p>
			<small>Held for 5 days. 20 shares bought on 20th February 2012 for £1.11</small>
		</p>
		
		<p>
			<a href="#">View history</a>
		</p>
		<p>
			<span class="label label-important">Expires soon</span>
			<span class="label label-success">Winner</span>
		</p>
	</div>

	<div class="span4">
		<h2>Chris <small>Lost £30 so far</small></h2>
		<h4>AFF.L</h4>
		<h5>AFFERRO MINING INC. COM...</h5>
		<p class="lead">
			£1.52 <small style="color:green">+1.12%</small>
		</p>
		<p>
			<small>Held for 5 days. 20 shares bought on 20th February 2012 for £1.11</small>
		</p>
		
		<p>
			<a href="#">View history</a>
		</p>
		<p>
			<span class="label label-info">Just bought</span>
			<span class="label label-default">Under-achiever</span>
		</p>
	</div>

	<div class="span4">
		<h2>Wilson</h2>
		<h4>AFF.L</h4>
		<h5>AFFERRO MINING INC. COM...</h5>
		<p class="lead">
			£1.52 <small style="color:green">+1.12%</small>
		</p>
		<p>
			<small>Held for 5 days. 20 shares bought on 20th February 2012 for £1.11</small>
		</p>
		
		<p>
			<a href="#">View history</a>
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h2>Jon</h2>
		<h4>AFF.L</h4>
		<h5>AFFERRO MINING INC. COM...</h5>
		<p class="lead">
			£1.52 <small style="color:green">+1.12%</small>
		</p>
		<p>
			<small>Held for 5 days. 20 shares bought on 20th February 2012 for £1.11</small>
		</p>
		
		<p>
			<a href="#">View history</a>
		</p>
	</div>

	<div class="span4">
		<h2>Katherine</h2>
		<h4>AFF.L</h4>
		<h5>AFFERRO MINING INC. COM...</h5>
		<p class="lead">
			£1.52 <small style="color:green">+1.12%</small>
		</p>
		<p>
			<small>Held for 5 days. 20 shares bought on 20th February 2012 for £1.11</small>
		</p>
		
		<p>
			<a href="#">View history</a>
		</p>
	</div>
</div>
